/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul{
padding: 0;
}
a{
text-decoration: none;
}


.container{
  max-width: 1160px;
  margin: auto;
}

.main-header{
  background: #daac00;
}

.nav-otr{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap:70px
}

.nav-item a {
  font-size: 29px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
}


.form-control {
  background: #fcc302;
  border: 0;
  border-radius: 0;
  max-width: 206px;
  display: block;
}

.btn-secondary{
  color: #fff;
  background-color: #00bec9;
  border-color: #00bec9;
}

.srch-bar {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav-link:focus, .nav-link:hover {
  color: #00bec9;
}

.bnr-sec{
  background: #fcc302;
  padding: 96px 0 ;
}

h1 {
  font-size: 66px;
  font-weight: 600;
  color: #fff;
}


p {
  font-size: 29px;
  color: #fff;
}

.bnr-btn .btn-primary {
  color: #fff;
  background-color: #00bec9;
  border-color: #00bec9;
  padding: 20px 36px;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 10px;
  border: 2px solid #00bec9;
}

.bnr-btn .btn-secondary {
  color: #fff;
  background-color: transparent;
  border:2px solid #fff;
  padding: 20px 36px;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 10px;
}

.bnr-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.vet-inr h3{
  font-family: "poppins";
  font-size: 50px;
  color: #313243;
  font-weight: 600;
}

.vet-inr p{
  font-size: 30px;
  color: #313243;
}

.vet-img {
  text-align: end;
}

.cmn-pad{
  padding: 145px 0;
}

.vet-vdo{
  position: relative;
  margin-left: 60px;
}
.vet-vdo video{
  z-index: 1;
  position: relative;
  min-height: 506px;
}

.vet-vdo:before{
  content:"";
  position: absolute;
  height: 208px;
  width: 253px;
  left: -40px;
  bottom: -35px;
  background: #fcc302;
  z-index: 0;
}

.vet-vdo video[poster]{
  height:100%;
  width:100%;
  -o-object-fit: fill;
     object-fit: fill;
  }

  .bnr-btn .btn-primary.mn-btn {
    color: #fff;
    background-color: #fcc302;
    border-color: #fcc302;
  }

  .bnr-img img {
    width: 90%;
  }

.custom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 9;
}

video:hover + .custom-controls,
.custom-controls:hover {
  opacity: 1;
}

.yl-back {
background: #fcc302;
}

.cmn-pd-yl {
padding: 100px 0;
}

.cmn-hdr h2 {
color: #fff;
font-size: 75px;
font-weight: 700;
margin-bottom: 30px;
line-height: 1;
}

.cmn-hdr{
max-width: 750px;
margin: auto;
}

.vac-inr{
text-align: center;
}

.vac-img img{
border: 5px solid #fff;
}

.vac-inr h4{
color: #fff;
font-size: 37px;
font-weight: 600;
line-height: 1;
margin: 25px 0;
}

.vac-inr p{
  font-size: 25px;
}

.rw-otr{
margin-top: 60px;
}

.right-vet .vet-vdo:before{
left: auto;
right: -40px;
}

.right-vet .vet-inr {
text-align: right;
}

.right-vet .bnr-btn {
-webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: end;
}

.right-vet .vet-vdo {
position: relative;
margin-left: 0px;
margin-right: 60px;
}

.vac-inr .bnr-btn {
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.vac-inr .bnr-btn a {
padding: 15px 36px;
border-radius: 40px;
}

.cmn-hdr.blck h2,.cmn-hdr.blck p {
color: #313243;
}

.scl-otr ul {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
list-style: none;
gap: 20px;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
padding: 0;
}


.scl-otr ul li a{
width: 36px;
height: 36px;
background: #daac00;
color: #fff;
display: block;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
border-radius: 50%;
text-decoration: none;
}

.vac-inr h4,.vac-inr p{
color: #313243;
}

.count-sec{
background: url(../images/count-bg.jpg) no-repeat;
background-size: cover;
padding: 160px 0;
position: relative;
z-index: 1;
}

.count-sec:before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #daac00;
opacity: .8;
z-index: 0;
}

.count-otr {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.count-inr h5{
font-size: 37px;
font-weight: 600;
color: #fff;
}

.count-inr h6{
font-size: 41px;
color: #fff;
margin: 30px 0;
}


.post-txt{
padding: 30px;
-webkit-box-shadow: 0 0 10px 1px #808080a1;
        box-shadow: 0 0 10px 1px #808080a1;
}

.post-txt h6{
font-size: 25px;
font-weight: 600;
}

.post-txt p span{
font-size: 16px;
color: #00bec9;
text-transform: uppercase;
}

.post-txt p{
font-size: 16px;
color: #313243;
}

.post-txt a{
color: #00bec9;
font-size: 20px;
text-decoration: none;
font-weight: 600;
}


.col-md-4:nth-child(odd) .post-txt{
border: 2px solid #d6d6d6;
border-top:0;
-webkit-box-shadow: none;
        box-shadow: none;
}

.cmn-ftr{
background: #343434;
padding: 150px 0;
}

.ftr-inr h4 {
color: #fff;
font-size: 36px;
text-transform: uppercase;
}

.ftr-inr ul {
list-style: none;
margin-top: 36px;
}

.ftr-inr ul li{
margin-bottom: 20px;
}

.ftr-inr ul li a{
color: #fff;
-webkit-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
}

.ftr-inr p {
font-size: 25px;
margin-bottom: 56px;
}

.nws-srch{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: end; 
}

.nws-srch input{
background: #fcc302;
min-width: 387px;
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
min-height: 92px;
outline: none;
border: 0;
padding: 0 15px;
}

.nws-srch .submit{
min-width: 145px;
border: 0;
outline: none;
background: #00bec9;
font-size: 35px;
color: #fff;
}

.ftr-inr .scl-otr ul {
-webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: end;
margin-top: 48px;
}

.scl-otr ul li a {
height: 44px;
width: 44px;
background: #fff;
color: #343434;
font-size: 26px;
-webkit-transition: .5s all;
-o-transition: .5s all;
transition: .5s all;
}

.nws-otr{
text-align: end;
}

.vac-img img {
width: 100%;
}

.bnr-btn .btn-primary:hover{
background: transparent;
border: 2px solid #fff;
}

.bnr-btn .btn-secondary:hover {
border: 2px solid #00bec9;
background: #00bec9;
}

.bnr-btn .btn-primary.mn-btn:hover {
color: #fcc302;
background-color: transparent;
border-color: #fcc302;
}

.scl-otr ul li a:hover{
color:#fcc302
}

.ftr-inr ul li a:hover{
color: #fcc302;
}



